
@import 'reset-css/reset.css';

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

::selection {
  background: #fff;
  color: #000;
  text-shadow: none;
}

html {
  --s-picture-margin-bottom: 10vw;
  --c-background: rgba(0, 0, 0, 0.95);
  --c-interaction: #fff;
}

body {
  background-color: var(--c-background);
  font-family: Arial, Helvetica, sans-serif;

  &.is-inverted {
    --c-background: #fff;
    --c-interaction: rgba(0, 0, 0, 0.95);
  }
}

.lightmode-button {
  --s-button: 24px;
  --s-margin: 40px;

  cursor: pointer;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  top: var(--s-margin);
  right: var(--s-margin);
  width: var(--s-button);
  height: var(--s-button);
  border-radius: 100%;
  border: 1px solid var(--c-interaction);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: calc(var(--s-button) * 0.5);
    height: var(--s-button);
    background-color: var(--c-interaction);
    transition: width ease-out 0.2s;
  }

  &:hover {
    &::before {
      width: var(--s-button);
    }
  }
}

.navigation-button {
  --s-height: 48px;
  --s-width: 24px;
  --s-margin: 40px;
  --s-spacing: 16px;

  position: fixed;
  cursor: pointer;
  z-index: 100;
  bottom: var(--s-margin);
  right: var(--s-margin);
  width: var(--s-width);
  height: var(--s-height);

  &--prev {
    bottom: calc(var(--s-margin) + var(--s-height) + var(--s-spacing));
  }

  &__line {
    display: block;
    width: 100%;
    height: 100%;
    background-color: green;
  }
}

.pictures {
  margin: 0 auto;
  padding-bottom: var(--s-picture-margin-bottom);
}

.picture {
  display: none;
  position: relative;
  overflow: hidden;
  margin-top: var(--s-picture-margin-bottom);
  box-sizing: border-box;

  &.is-loaded {
    display: block;
  }

  &:nth-child(2n) {
    margin-left: auto;
    margin-right: 0;
  }

  &__el {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}
